body {
    background-color: lightblue;
    box-sizing: border-box;
    padding:0;
    margin:0;
  }

#food1 {
    background-color: red;
  }
#food2 {
    background-color: orange;
  }
#food3 {
    background-color: yellow;
  }


@media (min-width: 992px) {
    .b1,
    .b2,
    .b3  {
    width: 30%;    
    float: left;
  }
}


 
@media (min-width: 768px) and (max-width: 991px) {
  .b1, .b2 {
      width: 40%; 
      flex-wrap: wrap;
      float:left;
    }
 
    .b3 {
      width: 100%;
    }

    
}

 
@media (max-width: 767px) {
  .b1,
  .b2,
  .b3 {
      width: 100%;
    }
}

p {
    padding: 10px;
    position: relative;
}

span {
    font-size: 20px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    position: absolute;
  }

.boxarea{  
    display: flex;
    text-align: justify;
    position: relative;
    margin: 5px;
    border: 1px solid black;
    background-color: blue;
  
}
